name: run_tests

on:
  push:
    branches: [ "dev" ]

jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Unshallow
        run: git fetch --prune --unshallow
      -
        name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18
      -
        name: Test
        run: go test ./banyan/... -v
        env:
          TF_ACC: true
          BANYAN_API_KEY: ${{ secrets.BANYAN_API_KEY }}
          BANYAN_HOST: ${{ secrets.BANYAN_HOST }}
