name: run_tests

on:
  workflow_dispatch:
    branches: [ "dev" ]
    inputs:
      command_center_url:
        description: 'Command Center URL'
        required: true
        default: 'https://net.banyanops.com'
        type: string
      api_key:
        description: 'API Key'
        required: true
        type: string

jobs:
  run_tests:
    runs-on: ubuntu-latest
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Unshallow
        run: git fetch --prune --unshallow
      -
        name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22
      -
        name: Run Go Mod Tidy
        run: go mod tidy
      -
        name: Test
        run: go test ./banyan/... -v
        env:
          TF_ACC: true
          BANYAN_API_KEY: ::add-mask::${{ inputs.api_key }}
          BANYAN_HOST: ${{ inputs.command_center_url }}
      -
        name: Generate Documentation
        run: go run github.com/hashicorp/terraform-plugin-docs/cmd/tfplugindocs generate --provider-name terraform-provider-banyan --examples-dir ./examples/
      -
        name: commit documentation changes if any
        run: |
          if  [[ $(if [[ -n "$(git status --porcelain)" ]]; then echo "true"; else echo "false"; fi) == "true" ]]; then
            echo "\n ERROR: check in documentation changes"
            exit 1
          else 
            echo "\n++No Changes to Documentation++\n"
          fi
      -
        name: Static Check
        uses: dominikh/staticcheck-action@v1.3.1
        with:
          version: "latest"
